/* =============================================================
 * VARIABLES
 * ============================================================*/

$vhd__white: #fff !default;
$vhd__black: #000 !default;
$vhd__gray: #424b53 !default;
$vhd__primary-text-color: #35343d !default;
$vhd__lightest-gray: #f3f5f8 !default;
$vhd__primary-color: #00ca9d !default;
$vhd__medium-gray: #999999 !default;
$vhd__light-gray: #d7d9e2 !default;
$vhd__dark-gray: #2d3047 !default;
$vhd__font-base: 16px !default;
$vhd__font-small: 14px !default;
$vhd__font-smaller: 12px !default;
/* =============================================================
  * RESPONSIVE LAYOUT HELPERS
  * ============================================================*/

$vhd__tablet: "(min-width: 480px) and (max-width: 767px)" !default;
$vhd__phone: "(max-width: 479px)" !default;
$vhd__desktop: "(min-width: 768px)" !default;
$vhd__up-to-tablet: "(max-width: 767px)" !default;
$extra-small-screen: "(max-width: 23em)" !default;
